@use 'sass:math';

// Variables
$mai-pink-col: #ef5da8;
$sec-pink-col: #f178b6;
$ter-pink-col: #FCDDEC;
$mai-blue-col: #5D5FEF;
$sec-blue-col: #7879F1;
$ter-blue-col: #A5A6F6;
$backlight-col: #FCDDEC90;
$faint-glow-col: #A5A6F630;
$form-page-width: 18vw;
$form-page-max-width: 19rem;
$form-page-min-width: 14rem;
$page-ratio: 1.65;
$margin: 1rem;
$inner-glow: 
    0 0 5rem $backlight-col,
    0.1rem 0.1rem 1rem black,
    inset -0.1rem 0.1rem 0.2rem $faint-glow-col,
    inset -0.1rem 0.1rem black,
    inset 0 0 30rem $faint-glow-col;
$sparkling-glow:
    0 -40rem 30rem $mai-blue-col,
    0 40rem 30rem $mai-blue-col,
    40rem 0 30rem black,
    -40rem 0 30rem black,
    0 0 10rem $backlight-col,
    0.1rem 0.1rem 1rem black,
    inset -0.1rem 0.1rem 0.2rem $backlight-col,
    inset -0.1rem 0.1rem black,
    inset 0 0 30rem $faint-glow-col;
$sparkling-glow-pink:
    0 -40rem 30rem $mai-pink-col,
    0 40rem 30rem $mai-pink-col,
    40rem 0 30rem black,
    -40rem 0 30rem black,
    0 0 10rem $backlight-col,
    0.1rem 0.1rem 1rem black,
    inset -0.1rem 0.1rem 0.2rem $backlight-col,
    inset -0.1rem 0.1rem black,
    inset 0 0 30rem $faint-glow-col;

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

h1, h2, h3, h4 {
    color: white;
    opacity: 80%;
    margin-top: $margin;
    margin-bottom: $margin;
    margin: $margin;
}

h4 {
    margin-bottom: 0;
}

p {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    margin-top: 0;
    margin: $margin;
}

p.footText {
    margin-top: auto;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

button {
    width: -webkit-fill-available;
    padding: 0.5rem;
    background-color: $mai-blue-col;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: $sec-blue-col;
    box-shadow: inset 0 0 2rem black;
}

.section_header {
    display: grid;
    position: relative;
    grid-template-columns: 80% 10% 10%;
    justify-content: flex-start;
    align-items: center;
    box-shadow: $inner-glow;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 3rem;
    border-right: white solid 1px;
    
    h2 {
        margin: $margin;
    }

    a, button {
        display: inline-block;
        color: white;
        background-color: $mai-blue-col;
        text-align: center;
        padding: 0.5rem;
        width: -webkit-fill-available;
        text-decoration: none;
        border-radius: 5rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.4s ease;
    }

    a:hover, button:hover {
        background-color: $sec-blue-col;
        box-shadow: inset 0 0 2rem black;
    }

    a:focus, button:focus {
        outline: none;
    }

    .caret {
        transform: rotate(0deg);
        transition: transform 0.3s ease;
        background-color: transparent;
    }

    .caret.rotated {
        transform: rotate(90deg);
    }
}

.list {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.list.hidden {
    max-height: 0;
    opacity: 0;
}

.list_item_entry {
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: 10% 40% 30% 10% 10%;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 2rem;
    border-left: 6px solid transparent;
    transition: border-left 0.3s ease;
    cursor: pointer;

    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 2rem;
        height: 2rem;
        background-color: $mai-blue-col;
        border: 2px solid $mai-blue-col;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        margin: 0;
        //transform: translate(50%, 0%);
        transition: background-color 0.4s ease, border-color 0.4s ease;
    }

    input[type="checkbox"]:checked {
        background-color: $mai-blue-col;
        border-color: $mai-blue-col;
    }

    input[type="checkbox"]:checked::after {
        content: '✔';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: white;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.2rem;
    }

    a, button {
        //display: inline-block;
        color: white;
        background-color: $mai-blue-col;
        text-align: center;
        padding: 0.5rem;
        width: -webkit-fill-available;
        text-decoration: none;
        border-radius: 5rem;
        //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        //font-size: 1rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.4s ease;
    }

    a:hover, button:hover, input[type="checkbox"]:hover {
        background-color: $sec-blue-col;
        box-shadow: inset 0 0 2rem black;
    }

    a:focus, button:focus, input[type="checkbox"]:focus {
        outline: none;
    }
}

.list_item_entry:hover {
    //background-color: $mai-blue-col;
    border-left: 6px solid $mai-blue-col;
}

.list_item_entry.selected {
    transition: all 0.3s ease;
    color: black;
    a, button, input[type="checkbox"] {
        background-color:black;
    }
    a:hover, button:hover, input[type="checkbox"]:hover {
        box-shadow: inset 0 0 2rem white;
    }
}

.list_item_entry::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-1rem);
    z-index: -1;
    border-radius: 2rem;
    background: $mai-blue-col;
    background: linear-gradient(90deg, $sec-blue-col, $mai-blue-col);
    width: 0%;
    height: 100%;
    transition: all 0.4s ease;
}

.list_item_entry.selected::before {
    //color: black;
    width: 105%;
    //border-right: $mai-blue-col;
    //animation: fillBackground 0.5s forwards;
}

input, textarea {
    width: -webkit-fill-available;
    color: white;
    padding: 0.5rem;
    border: none;
    background-color: $faint-glow-col;
    border-radius: 25px;
    font-family: arial narrow;
    margin-top: 0.5*$margin;
    margin-bottom: 0.5*$margin;
    resize: none;
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
    transform: translateX(1rem);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px gray;
    border-radius: 1rem;
    background: $ter-blue-col;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $mai-blue-col;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $sec-blue-col;
}

.row_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;
    padding: 0rem;
    width: 100vw;
    height: 100vh;
    transition: grid-template-columns 0.5s ease, grid-template-rows 0.5 ease;
    > div {
        padding: 1rem;
    }
}

.grid_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
    height:fit-content;
    transition: all 0.5s ease;
    button {
        width: fit-content;
        height: fit-content;
        margin: $margin;
    }
}
.grid_main { 
    grid-row: 2 / -1;
    grid-column-start: 2;
    width: 9 * 3rem;
    transition: all 0.5s ease;
 }

 .grid_main > div {
    transition: all 0.5s ease;
 }

 .grid_main > div:nth-child(2) {
    transition: all 0.5s ease;
    height: 12rem;
    overflow-x: clip;
    overflow-y: auto;
 }

 .grid_main > div:nth-child(2) > div {
    width: 90%;
 }

.grid_right {
    display: grid;
    grid-row: 2 / -1;
    grid-column-start: 4;
    width: 7 * 3rem;
    transition: all 0.5s ease;
 }

 @media screen and (max-width: 1200px) {
    .grid_container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: start;
        transition: grid-template-columns 0.5s ease, grid-template-rows 0.5s ease;
    }

    .grid_main {
        grid-column: 1 / -1;
    }

    .grid_right {
        grid-row: auto;
        grid-column: 1 / -1;
    }
 }

#list_item_page {
    justify-content: flex-start;
    align-items: flex-start;
}

.form_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $form-page-width;
    //border-top: 1px solid white;
    border-right: 1px solid $ter-blue-col;
    height: $form-page-width * $page-ratio;
    max-width: $form-page-max-width;
    max-height: $form-page-max-width * $page-ratio;
    min-width: $form-page-min-width;
    min-height: $form-page-min-width * $page-ratio;
    padding: 2rem;
    border-radius: 2rem;
}

#login_form_page {
    background-color: black;
    box-shadow: $sparkling-glow;
}

#create_new_user_form_page {
    background-color: black;
    box-shadow: $sparkling-glow-pink;
}

.icon {
    margin: 0;
    padding: 0;
    align-content: center;
    height: 32px;
    width: 32px;
}

.calendar_header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    width: -webkit-fill-available;
    white-space: nowrap;

    //button {
    //    font-size: 1.8rem;
    //}
}

.calendar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border-top: 1px solid white;
    border-right: 1px solid $ter-blue-col;
    width: fit-content;
    box-shadow: $inner-glow;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
}

$calendar-width: 7;
$calendar-height: 7;

@function calc-darkness($x, $y) {
    $distance: math.sqrt(math.pow($x, 2) + math.pow($y, 2));
    @return 255 - ($distance * 20);
}

.calendar {
    display: grid;
    background-color: inherit;
    grid-template-columns: repeat($calendar-width, 1fr);
    grid-template-rows: repeat($calendar-height, 1fr);
    gap: 0.01rem;
    width: fit-content;
    margin-top: $margin;
    margin-bottom: $margin;

    @for $row from 2 through $calendar-height {
        @for $col from 1 through $calendar-width {
            & > div.beforetoday:nth-child(#{$col + ($row - 1) * $calendar-width}) {
                background-color: rgb(
                    0.1 * calc-darkness($col - 1, $row - 1), 
                    0.1 * calc-darkness($col - 1, $row - 1), 
                    0.4 * calc-darkness($col - 1, $row - 1)
                    );
            }
            & > div.aftertoday:nth-child(#{$col + ($row - 1) * $calendar-width}) {
                background-color: rgb(
                    0.3 * calc-darkness($col - 1, $row - 1), 
                    0.3 * calc-darkness($col - 1, $row - 1), 
                    0.8 * calc-darkness($col - 1, $row - 1)
                    );
            }
        }
    }
}

.calendarheaderWeekday {
    padding: 0.1rem;
    color: white;
    margin: 0.1 * $margin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calendarbox {
    padding: 0.1rem;
    background-color: inherit;
    color: white;
    border-radius: 0.5rem;    
    margin: 0.1 * $margin;
    text-align: center;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .calendarday_content {
        height: inherit;
        text-decoration: none;
        color: inherit;
        display: flex;
        justify-content: space-between;
        padding: inherit;
        border-radius: 0.5rem;
    }
    .calendarday_content:hover {
        box-shadow: inset 0 0 0.5rem $ter-pink-col;
    }
}

.calendarbox.today {
    background-color: $mai-pink-col !important;
    .calendardailytasks.dropart {
        background-color: $ter-pink-col !important;
    }
}

.calendarbox.offmonth {
    color: $sec-blue-col;
}

.calendardailytasks.dropdown {
    position: relative;
    display: inline-block;
}

.calendardailytasks.dropcontent {
    //display: none;
    width: 10rem;
    position: absolute;
    background-color: #A5A6F6DD;
    border-radius: 1rem;
    box-shadow: 0rem 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.calendardailytasks.dropdown:hover .dropcontent {
    //display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.calendardailytasks.dropart {
    background-color: #A5A6F6DD;
    height: 0.4rem;
    border-radius: 1rem;
    margin: 1px;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.message {
    color: white;
    padding: 12px;
    border-radius: 8px;
    max-width: 100%;
}

.message-assistant {
    background-color: #f0f0f0;
    align-self: flex-start;
}

.message-user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.message-content {
    margin: 0;
    white-space: pre-wrap;
    line-height: 1.5;
    overflow-y: clip;
    overflow-x: auto;
}

/* For code blocks */
.code-block {
    background-color: #2b2b2b;
    color: #ffffff;
    font-family: "Monaco", "Consolas", monospace;
    font-size: 1rem;
    padding: 2px 4px;
    border-radius: 4px;
}