@charset "UTF-8";
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}

h1, h2, h3, h4 {
  color: white;
  opacity: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin: 1rem;
}

h4 {
  margin-bottom: 0;
}

p {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  margin-top: 0;
  margin: 1rem;
}

p.footText {
  margin-top: auto;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}

button {
  width: -webkit-fill-available;
  padding: 0.5rem;
  background-color: #5D5FEF;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #7879F1;
  box-shadow: inset 0 0 2rem black;
}

.section_header {
  display: grid;
  position: relative;
  grid-template-columns: 80% 10% 10%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 5rem #FCDDEC90, 0.1rem 0.1rem 1rem black, inset -0.1rem 0.1rem 0.2rem #A5A6F630, inset -0.1rem 0.1rem black, inset 0 0 30rem #A5A6F630;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 3rem;
  border-right: white solid 1px;
}
.section_header h2 {
  margin: 1rem;
}
.section_header a, .section_header button {
  display: inline-block;
  color: white;
  background-color: #5D5FEF;
  text-align: center;
  padding: 0.5rem;
  width: -webkit-fill-available;
  text-decoration: none;
  border-radius: 5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.section_header a:hover, .section_header button:hover {
  background-color: #7879F1;
  box-shadow: inset 0 0 2rem black;
}
.section_header a:focus, .section_header button:focus {
  outline: none;
}
.section_header .caret {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  background-color: transparent;
}
.section_header .caret.rotated {
  transform: rotate(90deg);
}

.list {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.list.hidden {
  max-height: 0;
  opacity: 0;
}

.list_item_entry {
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: 10% 40% 30% 10% 10%;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 2rem;
  border-left: 6px solid transparent;
  transition: border-left 0.3s ease;
  cursor: pointer;
}
.list_item_entry input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #5D5FEF;
  border: 2px solid #5D5FEF;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin: 0;
  transition: background-color 0.4s ease, border-color 0.4s ease;
}
.list_item_entry input[type=checkbox]:checked {
  background-color: #5D5FEF;
  border-color: #5D5FEF;
}
.list_item_entry input[type=checkbox]:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
}
.list_item_entry td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem;
}
.list_item_entry a, .list_item_entry button {
  color: white;
  background-color: #5D5FEF;
  text-align: center;
  padding: 0.5rem;
  width: -webkit-fill-available;
  text-decoration: none;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.list_item_entry a:hover, .list_item_entry button:hover, .list_item_entry input[type=checkbox]:hover {
  background-color: #7879F1;
  box-shadow: inset 0 0 2rem black;
}
.list_item_entry a:focus, .list_item_entry button:focus, .list_item_entry input[type=checkbox]:focus {
  outline: none;
}

.list_item_entry:hover {
  border-left: 6px solid #5D5FEF;
}

.list_item_entry.selected {
  transition: all 0.3s ease;
  color: black;
}
.list_item_entry.selected a, .list_item_entry.selected button, .list_item_entry.selected input[type=checkbox] {
  background-color: black;
}
.list_item_entry.selected a:hover, .list_item_entry.selected button:hover, .list_item_entry.selected input[type=checkbox]:hover {
  box-shadow: inset 0 0 2rem white;
}

.list_item_entry::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-1rem);
  z-index: -1;
  border-radius: 2rem;
  background: #5D5FEF;
  background: linear-gradient(90deg, #7879F1, #5D5FEF);
  width: 0%;
  height: 100%;
  transition: all 0.4s ease;
}

.list_item_entry.selected::before {
  width: 105%;
}

input, textarea {
  width: -webkit-fill-available;
  color: white;
  padding: 0.5rem;
  border: none;
  background-color: #A5A6F630;
  border-radius: 25px;
  font-family: arial narrow;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  resize: none;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
  transform: translateX(1rem);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px gray;
  border-radius: 1rem;
  background: #A5A6F6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5D5FEF;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7879F1;
}

.row_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 0rem;
  width: 100vw;
  height: 100vh;
  transition: grid-template-columns 0.5s ease, grid-template-rows 0.5 ease;
}
.grid_container > div {
  padding: 1rem;
}

.grid_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1;
  grid-column: 1/-1;
  height: fit-content;
  transition: all 0.5s ease;
}
.grid_header button {
  width: fit-content;
  height: fit-content;
  margin: 1rem;
}

.grid_main {
  grid-row: 2/-1;
  grid-column-start: 2;
  width: 27rem;
  transition: all 0.5s ease;
}

.grid_main > div {
  transition: all 0.5s ease;
}

.grid_main > div:nth-child(2) {
  transition: all 0.5s ease;
  height: 12rem;
  overflow-x: clip;
  overflow-y: auto;
}

.grid_main > div:nth-child(2) > div {
  width: 90%;
}

.grid_right {
  display: grid;
  grid-row: 2/-1;
  grid-column-start: 4;
  width: 21rem;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1200px) {
  .grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    transition: grid-template-columns 0.5s ease, grid-template-rows 0.5s ease;
  }

  .grid_main {
    grid-column: 1/-1;
  }

  .grid_right {
    grid-row: auto;
    grid-column: 1/-1;
  }
}
#list_item_page {
  justify-content: flex-start;
  align-items: flex-start;
}

.form_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18vw;
  border-right: 1px solid #A5A6F6;
  height: 29.7vw;
  max-width: 19rem;
  max-height: 31.35rem;
  min-width: 14rem;
  min-height: 23.1rem;
  padding: 2rem;
  border-radius: 2rem;
}

#login_form_page {
  background-color: black;
  box-shadow: 0 -40rem 30rem #5D5FEF, 0 40rem 30rem #5D5FEF, 40rem 0 30rem black, -40rem 0 30rem black, 0 0 10rem #FCDDEC90, 0.1rem 0.1rem 1rem black, inset -0.1rem 0.1rem 0.2rem #FCDDEC90, inset -0.1rem 0.1rem black, inset 0 0 30rem #A5A6F630;
}

#create_new_user_form_page {
  background-color: black;
  box-shadow: 0 -40rem 30rem #ef5da8, 0 40rem 30rem #ef5da8, 40rem 0 30rem black, -40rem 0 30rem black, 0 0 10rem #FCDDEC90, 0.1rem 0.1rem 1rem black, inset -0.1rem 0.1rem 0.2rem #FCDDEC90, inset -0.1rem 0.1rem black, inset 0 0 30rem #A5A6F630;
}

.icon {
  margin: 0;
  padding: 0;
  align-content: center;
  height: 32px;
  width: 32px;
}

.calendar_header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  width: -webkit-fill-available;
  white-space: nowrap;
}

.calendar_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #A5A6F6;
  width: fit-content;
  box-shadow: 0 0 5rem #FCDDEC90, 0.1rem 0.1rem 1rem black, inset -0.1rem 0.1rem 0.2rem #A5A6F630, inset -0.1rem 0.1rem black, inset 0 0 30rem #A5A6F630;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
}

.calendar {
  display: grid;
  background-color: inherit;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0.01rem;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.calendar > div.beforetoday:nth-child(8) {
  background-color: #18185e;
}
.calendar > div.aftertoday:nth-child(8) {
  background-color: #4747bc;
}
.calendar > div.beforetoday:nth-child(9) {
  background-color: #17175b;
}
.calendar > div.aftertoday:nth-child(9) {
  background-color: #4444b5;
}
.calendar > div.beforetoday:nth-child(10) {
  background-color: #151554;
}
.calendar > div.aftertoday:nth-child(10) {
  background-color: #3f3fa8;
}
.calendar > div.beforetoday:nth-child(11) {
  background-color: #13134d;
}
.calendar > div.aftertoday:nth-child(11) {
  background-color: #3a3a99;
}
.calendar > div.beforetoday:nth-child(12) {
  background-color: #111145;
}
.calendar > div.aftertoday:nth-child(12) {
  background-color: #34348a;
}
.calendar > div.beforetoday:nth-child(13) {
  background-color: #0f0f3d;
}
.calendar > div.aftertoday:nth-child(13) {
  background-color: #2e2e7a;
}
.calendar > div.beforetoday:nth-child(14) {
  background-color: #0d0d35;
}
.calendar > div.aftertoday:nth-child(14) {
  background-color: #28286b;
}
.calendar > div.beforetoday:nth-child(15) {
  background-color: #161656;
}
.calendar > div.aftertoday:nth-child(15) {
  background-color: #4141ac;
}
.calendar > div.beforetoday:nth-child(16) {
  background-color: #151554;
}
.calendar > div.aftertoday:nth-child(16) {
  background-color: #3f3fa8;
}
.calendar > div.beforetoday:nth-child(17) {
  background-color: #14144f;
}
.calendar > div.aftertoday:nth-child(17) {
  background-color: #3c3c9f;
}
.calendar > div.beforetoday:nth-child(18) {
  background-color: #121249;
}
.calendar > div.aftertoday:nth-child(18) {
  background-color: #373792;
}
.calendar > div.beforetoday:nth-child(19) {
  background-color: #111142;
}
.calendar > div.aftertoday:nth-child(19) {
  background-color: #323284;
}
.calendar > div.beforetoday:nth-child(20) {
  background-color: #0f0f3b;
}
.calendar > div.aftertoday:nth-child(20) {
  background-color: #2c2c76;
}
.calendar > div.beforetoday:nth-child(21) {
  background-color: #0d0d33;
}
.calendar > div.aftertoday:nth-child(21) {
  background-color: #272767;
}
.calendar > div.beforetoday:nth-child(22) {
  background-color: #14144e;
}
.calendar > div.aftertoday:nth-child(22) {
  background-color: #3b3b9c;
}
.calendar > div.beforetoday:nth-child(23) {
  background-color: #13134d;
}
.calendar > div.aftertoday:nth-child(23) {
  background-color: #3a3a99;
}
.calendar > div.beforetoday:nth-child(24) {
  background-color: #121249;
}
.calendar > div.aftertoday:nth-child(24) {
  background-color: #373792;
}
.calendar > div.beforetoday:nth-child(25) {
  background-color: #111144;
}
.calendar > div.aftertoday:nth-child(25) {
  background-color: #333388;
}
.calendar > div.beforetoday:nth-child(26) {
  background-color: #10103e;
}
.calendar > div.aftertoday:nth-child(26) {
  background-color: #2f2f7c;
}
.calendar > div.beforetoday:nth-child(27) {
  background-color: #0e0e37;
}
.calendar > div.aftertoday:nth-child(27) {
  background-color: #2a2a6f;
}
.calendar > div.beforetoday:nth-child(28) {
  background-color: #0c0c30;
}
.calendar > div.aftertoday:nth-child(28) {
  background-color: #242461;
}
.calendar > div.beforetoday:nth-child(29) {
  background-color: #121246;
}
.calendar > div.aftertoday:nth-child(29) {
  background-color: #35358c;
}
.calendar > div.beforetoday:nth-child(30) {
  background-color: #111145;
}
.calendar > div.aftertoday:nth-child(30) {
  background-color: #34348a;
}
.calendar > div.beforetoday:nth-child(31) {
  background-color: #111142;
}
.calendar > div.aftertoday:nth-child(31) {
  background-color: #323284;
}
.calendar > div.beforetoday:nth-child(32) {
  background-color: #10103e;
}
.calendar > div.aftertoday:nth-child(32) {
  background-color: #2f2f7c;
}
.calendar > div.beforetoday:nth-child(33) {
  background-color: #0e0e39;
}
.calendar > div.aftertoday:nth-child(33) {
  background-color: #2b2b71;
}
.calendar > div.beforetoday:nth-child(34) {
  background-color: #0d0d33;
}
.calendar > div.aftertoday:nth-child(34) {
  background-color: #262666;
}
.calendar > div.beforetoday:nth-child(35) {
  background-color: #0b0b2c;
}
.calendar > div.aftertoday:nth-child(35) {
  background-color: #212159;
}
.calendar > div.beforetoday:nth-child(36) {
  background-color: #10103e;
}
.calendar > div.aftertoday:nth-child(36) {
  background-color: #2f2f7c;
}
.calendar > div.beforetoday:nth-child(37) {
  background-color: #0f0f3d;
}
.calendar > div.aftertoday:nth-child(37) {
  background-color: #2e2e7a;
}
.calendar > div.beforetoday:nth-child(38) {
  background-color: #0f0f3b;
}
.calendar > div.aftertoday:nth-child(38) {
  background-color: #2c2c76;
}
.calendar > div.beforetoday:nth-child(39) {
  background-color: #0e0e37;
}
.calendar > div.aftertoday:nth-child(39) {
  background-color: #2a2a6f;
}
.calendar > div.beforetoday:nth-child(40) {
  background-color: #0d0d33;
}
.calendar > div.aftertoday:nth-child(40) {
  background-color: #262666;
}
.calendar > div.beforetoday:nth-child(41) {
  background-color: #0b0b2d;
}
.calendar > div.aftertoday:nth-child(41) {
  background-color: #22225b;
}
.calendar > div.beforetoday:nth-child(42) {
  background-color: #0a0a28;
}
.calendar > div.aftertoday:nth-child(42) {
  background-color: #1e1e4f;
}
.calendar > div.beforetoday:nth-child(43) {
  background-color: #0e0e36;
}
.calendar > div.aftertoday:nth-child(43) {
  background-color: #29296c;
}
.calendar > div.beforetoday:nth-child(44) {
  background-color: #0d0d35;
}
.calendar > div.aftertoday:nth-child(44) {
  background-color: #28286b;
}
.calendar > div.beforetoday:nth-child(45) {
  background-color: #0d0d33;
}
.calendar > div.aftertoday:nth-child(45) {
  background-color: #272767;
}
.calendar > div.beforetoday:nth-child(46) {
  background-color: #0c0c30;
}
.calendar > div.aftertoday:nth-child(46) {
  background-color: #242461;
}
.calendar > div.beforetoday:nth-child(47) {
  background-color: #0b0b2c;
}
.calendar > div.aftertoday:nth-child(47) {
  background-color: #212159;
}
.calendar > div.beforetoday:nth-child(48) {
  background-color: #0a0a28;
}
.calendar > div.aftertoday:nth-child(48) {
  background-color: #1e1e4f;
}
.calendar > div.beforetoday:nth-child(49) {
  background-color: #090922;
}
.calendar > div.aftertoday:nth-child(49) {
  background-color: #1a1a44;
}

.calendarheaderWeekday {
  padding: 0.1rem;
  color: white;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calendarbox {
  padding: 0.1rem;
  background-color: inherit;
  color: white;
  border-radius: 0.5rem;
  margin: 0.1rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calendarbox .calendarday_content {
  height: inherit;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  padding: inherit;
  border-radius: 0.5rem;
}
.calendarbox .calendarday_content:hover {
  box-shadow: inset 0 0 0.5rem #FCDDEC;
}

.calendarbox.today {
  background-color: #ef5da8 !important;
}
.calendarbox.today .calendardailytasks.dropart {
  background-color: #FCDDEC !important;
}

.calendarbox.offmonth {
  color: #7879F1;
}

.calendardailytasks.dropdown {
  position: relative;
  display: inline-block;
}

.calendardailytasks.dropcontent {
  width: 10rem;
  position: absolute;
  background-color: #A5A6F6DD;
  border-radius: 1rem;
  box-shadow: 0rem 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.calendardailytasks.dropdown:hover .dropcontent {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.calendardailytasks.dropart {
  background-color: #A5A6F6DD;
  height: 0.4rem;
  border-radius: 1rem;
  margin: 1px;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message {
  color: white;
  padding: 12px;
  border-radius: 8px;
  max-width: 100%;
}

.message-assistant {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.message-user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.message-content {
  margin: 0;
  white-space: pre-wrap;
  line-height: 1.5;
  overflow-y: clip;
  overflow-x: auto;
}

/* For code blocks */
.code-block {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Monaco", "Consolas", monospace;
  font-size: 1rem;
  padding: 2px 4px;
  border-radius: 4px;
}

/*# sourceMappingURL=styles.css.map */
